@charset "utf-8";


#match-block {
    position: relative;
    
    #up{
	    position: absolute;
	    top:35px;
	    right:10px;
    }
    
    #down{
	    position: absolute;
	    top:55px;
	    right:10px;
        
    }
    
    .type-name {
	    margin-bottom: 0px;
	    padding-bottom: 0px;
	    padding-left: 5px;
	    color: #4f6269;
    }

    .place {
	    margin: 0px 20px;
	    padding-left: 5px;
	    color: #4f6269;
    }
}

.active_button:hover {
	color: #ff0000;
    cursor: pointer;
}

.now-time {
	font-size: 13px;
}
