@charset "utf-8";
@import "match";

$margin: 10px;

html, body, container {
	font-size: 13px;
	cursor:default;
    height: 100%;
	width: 100%;
    margin:  0px 0px;
}

body {
    font-family:'Helvetica Neue', Helvetica, 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', Arial, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
}

#container {
    height: 100%;
}

#content {
    height: calc(100% - #{$margin});
    position: relative;
    margin: $margin $margin;
}

#quit {
    position: absolute;
    line-height: 30px;
    width: 100%;
    text-align: center;
    border-top: solid 1px #555555;
    bottom: 0px;
    &:hover {
        background-color: #aaaaaa;
        width: calc(100% + #{$margin} * 2);
        margin-left: calc(-1 * #{$margin});
	    cursor:pointer;
    }
}

.rotateobj{
  	animation: rotate 2s; 
 	animation-iteration-count: infinite; 
	background-position: center center; 
    -webkit-animation: rotate 2s; /* Safari & Chrome */
  	-webkit-animation-iteration-count: infinite;
	animation-timing-function: linear;
	transform-origin:center center;
}

@keyframes rotate { 
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); } 
}
@-webkit-keyframes rotate { /*Safari & Chrome */
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); } 
}

$icon-size: 30px;

#reloading{
	position: absolute;
	width: $icon-size;
	height: $icon-size;
	top:0px;
	right:0px;
	margin: 0px;
	padding: 0px;
    background-image: url(../assets/reload.png);
    background-repeat: no-repeat;
  	background-size: 100%;
}

